<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
        body{
            background: #ffe259;
            background: linear-gradient(to right, #ffa751, #ffe259);
        }
        .bg{
            background-image: url(./img/BG\ REGISTRO1jpg.jpg);
            background-position: center center;
        }
    </style>
</head>
<body>

    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col bg-white p-5 rounded-end">
                <div class="text-end">
                    <img src="/img/logo.jpg" width="48">
                </div>

                <h2 class="fw-bold text-center py-5">Bienvenido</h2>
                <!--LOGIN-->

                <form action="#">
                        <div class="mb-4">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-4">
                            <label for="email" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="contraseña">
                        </div>
                        <div class="mb-4 form-check">
                            <input type="checkbox" name="connected" class="form-check-input">
                            <label for="connected" class="form-check-label">Mantenerme conectado</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                        <div class="my-3">
                            <span>¿No tienes cuenta? <a href="about.hbs">Registrate</a></span> <br>
                            <span><a href="#">Recuperar contraseña</a></span>
                        </div>
                </form>

                <!--LOGIN CON REDES-->
                <div class="container w-100 my-5 ">
                    <div class="row text-center">
                        <div class="col-12">Iniciar sesión</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-primary w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block ">
                                        <img src="/img/Facebook.png" width="32">
                                    </div>
                                    <div class="col-12 col-md-10 text-center">Facebook</div>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <div class="col">
                                <button class="btn btn-outline-info w-100 my-1">
                                    <div class="row align-items-center">
                                        <div class="col-2 d-none d-md-block">
                                            <img src="/img/Twitter.png" width="32">
                                        </div>
                                        <div class="col-12 col-md-10 text-center">Twitter</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>