<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betrunken</title>
    
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body>
    <header>
		<nav class="navegacion">
			<ul class="menu">
                <div class="Logo">
                    <img src="/img/blanco1.png" alt="" >
                </div>
				<li><a href="#">Registrarse</a>
					<ul class="submenu">
						<li><a href="about.hbs">Como pasajero</a></li>
						<li><a href="about.hbs">Como conductor</a></li>
						
					</ul>
				</li>
                <li><a href="#">Iniciar Sesión</a>
					<ul class="submenu">
						<li><a href="conductor.hbs">Como pasajero</a></li>
						<li><a href="pasajero.hbs">Como conductor</a></li>
						
					</ul>
				</li>
				<li><a href="admin.hbs">Administrador</a>
				</li>

			</ul>
		</nav>
	</header>
    <section>
        <img class="img" src="img/BG REGISTRO1jpg.jpg" alt="logo section" width="2370" height="1300px">    
    </section>
    
</body>
</html>

